
@{
    ViewBag.Title = "ShowInformation";
    Layout = "~/Views/Shared/login.cshtml";
}

<h2>ShowInformation</h2>

<h2>EMAIL: @ViewBag.email</h2>

<h2>PASSWORD: @ViewBag.password</h2>

<h2>address: @ViewBag.address</h2>

<h2>address2: @ViewBag.address2</h2>

<h2>city: @ViewBag.city</h2>
<h2>Zip: @ViewBag.zip</h2>
<h2>check: @ViewBag.check</h2>
<h2>state: @ViewBag.select</h2>
